@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --light-gray: rgba(255, 255, 255, 0.42);
  --gray: #777;
  --black: #111;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--white);
  cursor: pointer;
}
a {
  text-decoration: none;
}
p {
  color: var(--light-gray);
}
body {
  background-color: var(--black);
}

#__next {
  isolation: isolate;
}
